/*.container{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

.signup-form, .login-form{
    /*width: 60%;*/
    margin: 10px auto;
    background: dodgerblue;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

input{
    display: block;
    margin-bottom: 20px;
    color: #333;
}

#login-box{
    display: none;
}

#log-btn, #sign-btn{
    cursor: pointer;
    text-align: center;
    width: 100px;
    padding: 10px;
    color: #fff;
    display: inline-block;
    margin: 10px 0;
}

#log-btn{
    background: green; 
}

#sign-btn{
    background: orange;
}