.container{
    width: 1200px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-form, .login-form{
    width: 60%;
    margin: 10px auto;
    background: dodgerblue;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

input{
    display: block;
    margin-bottom: 20px;
}

.login-form{
    display: block;
}